<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo_List</title>
</head>
<body>
<a sec:authorize="isAuthenticated()" th:href="@{/members/logout}"><button>로그아웃</button></a>
<h1><span sec:authentication="name"></span>님의 ToDo List</h1>

<div>
    <table class="table table-striped"> <thead>
    <tr>
        <th>#</th>
        <th>할일</th>
        <th>간단설명</th>
        <th></th>
    </tr>
    </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.subtitle}"></td>
            <td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>