<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>할일 작성</title>
</head>
<body>
<form th:action="@{/todoCreate}" th:object="${todoForm}" method="post">

    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect data</p>
    <input type="text" th:field="*{title}" placeholder="할일 입력">
    <br>
    <input type="text" th:field="*{subtitle}" placeholder="간단한 제목">
    <br>
    <button type="submit">확인</button>
</form>
</body>
</html>